[project]
name = "miscellaneous"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = []

[tool.uv.workspace]
members = [
    "test01_review_sentiment_analyzer/sentiment_analyzer",
]
